$icomoon-font-family: "chalo" !default;
$icomoon-font-path: "../fonts" !default;

$cl--card-wifi: "\e929";
$cl--rupee-phone: "\e927";
$cl--card-hand: "\e926";
$cl--mini-van: "\e928";
$cl--qr-code: "\e92a";
$cl--save-piggy: "\e92b";
$cl--location-pin: "\e925";
$cl--people-pass-counter-2: "\e924";
$cl--bus-ticket: "\e91c";
$cl--buy-ticket-at-convinenience: "\e91d";
$cl--directions-bus: "\e91e";
$cl--document: "\e91f";
$cl--pass-counter: "\e920";
$cl--people-pass-counter: "\e921";
$cl--route-arrow: "\e922";
$cl--route-track-your-bus: "\e923";
$cl--yt: "\e91b";
$cl--bus: "\e918";
$cl--timer: "\e91a";
$cl--track-bus: "\e916";
$cl--bus-pin: "\e917";
$cl--prepaid: "\e919";
$cl--scan-qr: "\e90c";
$cl--buy-app-card-path1: "\e90d";
$cl--buy-app-card-path2: "\e90e";
$cl--buy-app-card-path3: "\e90f";
$cl--buy-app-card-path4: "\e910";
$cl--buy-app-card-path5: "\e911";
$cl--buy-app-card-path6: "\e912";
$cl--buy-app-card-path7: "\e913";
$cl--phone-card: "\e914";
$cl--correct-plan: "\e915";
$cl--travel: "\e908";
$cl--ticket: "\e909";
$cl--phone-pay: "\e90a";
$cl--coins: "\e90b";
$cl--doc: "\e905";
$cl--wallet: "\e906";
$cl--group: "\e907";
$cl--hamburger: "\e904";
$cl--fb: "\e900";
$cl--ig: "\e901";
$cl--li: "\e902";
$cl--tw: "\e903";